{{define "root-body"}}
<div>
  <h1>{{.Title}}</h1>
  {{if .Image}}
  <img src="{{.Image}}">
  {{ end }}
  <p>{{.Detail}}</p>
</div>
{{ end }}

{{define "root-script"}}
<script>
  console.log('root-script');
</script>
{{ end }}

{{define "root-style"}}
{{ end }}