{{define "root-body"}}
<div>
  <h1>Create new News</h1>
  <form action="" class="ui form" method="POST" enctype="multipart/form-data">
    <div class="field">
      <label for="title">Title</label>
      <input name="title">
    </div>
    <div class="field">
      <label for="image">Image</label>
      <input type="file" name="image">
    </div>
    <div class="field">
      <label for="detail">Detail</label>
      <textarea name="detail"></textarea>
    </div>
    <button class="ui blue submit button" type="submit">Create</button>
    <a href="/admin/list" class="ui red button">Cancel</a>
  </form>
</div>
{{ end }}

{{define "root-script"}}
<script>
  console.log('root-script');
</script>
{{ end }}

{{define "root-style"}}
{{ end }}