{{define "root-body"}}
<div>
  Amin List
  <a href="/admin/create">Create News</a>
</div>
{{ end }}

{{define "root-script"}}
<script>
  console.log('root-script');
</script>
{{ end }}

{{define "root-style"}}
{{ end }}