{{define "root-body"}}
<div>
  <form class="ui form">
    <div class="field">
      <label>Username:</label>
      <input>
    </div>
    <div class="field">
      <label>Password:</label>
      <input>
    </div>
    <button class="ui submit blue buttton">Login</button>
  </form>
</div>
{{ end }}

{{define "root-script"}}
<script>
  console.log('root-script');
</script>
{{ end }}

{{define "root-style"}}
{{ end }}